In [57]:

import pandas as pd
import eurostat
import sqlalchemy
import sqlite3

In [59]:
engine = sqlalchemy.create_engine('sqlite:///eurostat.db')

In [24]:
toc = eurostat.get_toc_df()

In [33]:
print(toc[0:15])

                                                title          code     type  \
0                                  Database by themes          data   folder
1                     General and regional statistics       general   folder
2   European and national indicators for short-ter...       euroind   folder
3    Business and consumer surveys (source: DG ECFIN)        ei_bcs   folder
4                 Consumer surveys (source: DG ECFIN)     ei_bcs_cs   folder
5                            Consumers - monthly data     ei_bsco_m  dataset
6                          Consumers - quarterly data     ei_bsco_q  dataset
7   Business surveys - NACE Rev. 2 activity (sourc...     ei_bcs_bs   folder
8                             Industry - monthly data  ei_bsin_m_r2  dataset
9                           Industry - quarterly data  ei_bsin_q_r2  dataset
10                        Construction - monthly data  ei_bsbu_m_r2  dataset
11                      Construction - quarterly data  ei_bsbu_q_r2  dataset
12                         Retail sale - monthly data  ei_bsrt_m_r2  dataset
13                Sentiment indicators - monthly data  ei_bssi_m_r2  dataset
14                            Services - monthly data  ei_bsse_m_r2  dataset

   last update of data last table structure change data start data end
0
1
2
3
4
5           07.01.2022                  07.01.2022    1980M01  2021M12
6           07.01.2022                  28.10.2021     1990Q1   2021Q4
7
8           07.01.2022                  07.01.2022    1980M01  2021M12
9           07.01.2022                  28.10.2021     1980Q1   2021Q4
10          07.01.2022                  07.01.2022    1980M01  2021M12
11          07.01.2022                  28.10.2021     1981Q1   2021Q4
12          07.01.2022                  07.01.2022    1984M01  2021M12
13          07.01.2022                  07.01.2022    1980M01  2021M12
14          07.01.2022                  07.01.2022    1988M01  2021M12

In [34]:
# toc_csv = toc.to_excel('eurostat_toc.xlsx')

In [61]:
# read eurostat db SQL to see if all works well.

pd.read_sql('units', engine)

Empty DataFrame
Columns: [unit_short, unit_long]
Index: []

In [40]:
# test table, units and indic_ef columns represent the need for a Relational Database Model

agro_by_crops = eurostat.get_data_df('tag00007')
print(agro_by_crops[65:75])

   agrarea arable unit    indic_ef geo\time   2005   2007   2010   2013
65   TOTAL  TOTAL  THS  B_1_2_HOLD       BE   0.52   0.33   0.40   0.33
66   TOTAL  TOTAL  THS  B_1_2_HOLD       BG  50.55  36.60  21.63  16.65
67   TOTAL  TOTAL  THS  B_1_2_HOLD       CH   2.75   2.88   1.95    NaN
68   TOTAL  TOTAL  THS  B_1_2_HOLD       CY   1.23   0.62   0.70   0.65
69   TOTAL  TOTAL  THS  B_1_2_HOLD       CZ   1.75   1.38   1.20   0.90
70   TOTAL  TOTAL  THS  B_1_2_HOLD       DE  17.62  12.67  11.75   9.02
71   TOTAL  TOTAL  THS  B_1_2_HOLD       DK   1.82   0.66   0.79   0.62
72   TOTAL  TOTAL  THS  B_1_2_HOLD       EE   0.62   0.81   0.50   0.72
73   TOTAL  TOTAL  THS  B_1_2_HOLD       EL  15.71  17.83  11.06  13.82
74   TOTAL  TOTAL  THS  B_1_2_HOLD       ES  54.22  34.69  33.54  33.46

In [41]:
agro_by_crops_excel = agro_by_crops.to_excel('agro_by_crops.xlsx')

In [78]:
euro_dic = eurostat.get_dic('unit')
units_df = pd.DataFrame(list(euro_dic.items()), columns = ['unit', 'unit_description'])
print(units_df.head())

     unit       unit_description
0   TOTAL                  Total
1      NR                 Number
2  NR_HAB  Number per inhabitant
3     THS               Thousand
4     MIO                Million

In [80]:
# insert euro_dic into units table in db

units_df.to_sql('units', engine, if_exists = 'append', index = False)

In [81]:
pd.read_sql('units', engine)

              unit                                   unit_description
0            TOTAL                                              Total
1               NR                                             Number
2           NR_HAB                              Number per inhabitant
3              THS                                           Thousand
4              MIO                                            Million
..             ...                                                ...
682  PD_PCH_SM_NAC  Price index (implicit deflator), percentage ch...
683       CRC_MEUR            Current replacement costs, million euro
684       CRC_MNAC  Current replacement costs, million units of na...
685       PYR_MEUR      Previous year replacement costs, million euro
686       PYR_MNAC  Previous year replacement costs, million units...

[687 rows x 2 columns]